html {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 1.4rem;
  
}

.wrapper-body {
  margin: 0 auto;
  width: 1440px;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__title {
  align-self: start;
}

.cart__icon {
  width: 50px;
  height: 50px;
  outline: none;
  border: 0;
  background: transparent;
  background-image: url(./src/assets/icons/cart.jpg);
  background-size: contain;
  cursor: pointer;
}

.cart__icon::before {
  content: '3';
  vertical-align: baseline;
  display: block;
  width: 20px;
  height: 20px;
  background-color: rgb(255, 38, 0);
  color: #ffffff;
  border-radius: 10px;
}

.main {}

.filters {

  box-shadow: 1px 4px 10px rgb(170, 170, 170);
  padding: 20px;
}

.wrapper-filters {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.filters__title {}

.filter-search {}

.search-form {
  position: relative;
}

.filter-search__input {

  outline: 0px;
  border: 1px solid rgb(212, 212, 212);
  border-radius: 2px;
  padding-left: 10px;
  margin-left: 20px;
  min-width: 50%;
}

.filter-search__input:focus {

  border: 1px solid #7cbb00;
  border-radius: 2px;
  padding-left: 10px;
  margin-left: 20px;
  min-width: 50%;
}

.filter-search__reset-btn {
  position: absolute;
  right: 215px;
  top: 0;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.filter-search__submit {
  border: 0px;
  width: 20px;
  height: 20px;
  background-color: white;
  background-image: url(./src/assets/icons/search-icon.png);
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  vertical-align: middle;
}

.filter-sort {}

.filter-sort__select {
  margin-left: 20px;
  border: 1px solid rgb(212, 212, 212);
  background-color: #ffffff;
  border-radius: 4px;

}

.filter__search-and-sort {}

.filters-by-value {}

.filter-genre {}

.filters__list {
  display: flex;
  padding: 0px;
  margin-left: 20px;

  list-style-type: none;
}

.filter__item {}

.filter__btn {
  background-color: white;
  border-radius: 4px;
  border: 1px solid rgb(212, 212, 212);
  cursor: pointer;

}

.filter__btn:hover {
  background-color: #7cbb00;
  color: #ffffff;
}

.filter__btn--active {
  background-color: #7cbb00;
  color: #ffffff;
}

.filter-company {}

.filter-platform {}

.filter-platform__title {}

.filter-popular h3 {}

.filter-popular__label {
  display: flex;
  justify-content: start;
  gap: 10px;
  align-items: center;
}


/* 
.filter-popular__label::after {
  content: '';
  display: block; 
  width: 15px;
  height: 15px;
  border: 1px solid rgb(212, 212, 212);
  cursor: pointer;
}

.filter-popular__label::after :hover {
 background-color: #7cbb00;
} */

.filters__checkbox {
  display: none;
}

.checkmark {
  position: relative;
  display: inline-block;
  height: 18px;
  width: 18px;
  border: 1px solid rgb(212, 212, 212);
  border-radius: 4px;
  cursor: pointer;
}

.checkmark:hover {
  background-color:#7cbb00;
}

.filter-popular input:checked ~ .checkmark {
  background-color: #7cbb00;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.filter-popular input:checked ~ .checkmark:after {
  display: block;
}

.filter-popular .checkmark:after {
  left: 6px;
  top: 0px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}


.filters-by-range {}

.filter-year {}

.filter-rating {}



.filter__reset-btn {
  display: block;
  margin-left: 20px;
  background-color: #00A1F1;
  border-radius: 4px;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  padding: 10px 15px;
}

.filter__reset-btn:hover {
  background-color: #016ba1;
}

.filter__reset-btn:active {
  background-color: #00466c;
}

.games {
  margin: 20px;
}

.games__title {}

.wrapper-games {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.game-card {
  position: relative;
  cursor: pointer;
  padding: 20px;
  width: 250px;
}

.hidden {
  display: none;
}

.game-card:hover {
  box-shadow: 1px 4px 10px rgb(170, 170, 170);

}

.game-card:active {
  box-shadow: none
}

.game-card__title {
  font-size: 1.6rem;
  height: 4rem;
}

.image-wrapper {
  margin: 0 auto;
  width: 200px;
  height: 300px;
}

.game-card__image {
  display: block;
  
  width: 100%;
}

.game-card::after {
  content: '';
  width: 40px;
  height: 40px;
  background-image: url(./src/assets/icons/tick-mark.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.game-card__list {

  list-style: none;
  padding: 0;
}

.game-card__item {}

.game-card__year {}

.game-card__platform {}

.game-card__company {}

.game-card__rating {}